<header>
    <div class="container nav">
        <div class="logo">
            <div class="logo-icon">🧁</div>
            <span>Asmaa's Cupcake</span>
        </div>

        <nav class="nav-links">
            <a class="nav-link" data-page="home" data-root="./index.html" data-sub="../index.html">
                Home
            </a>

            <a class="nav-link" data-page="chi-siamo" data-root="./html/chi-siamo.html" data-sub="chi-siamo.html">
                Chi siamo
            </a>

            <a class="nav-link" data-page="cupcake" data-root="./html/cupcake.html" data-sub="cupcake.html">
                Cupcake
            </a>

            <a class="nav-link" data-page="come-funziona" data-root="./html/come-funziona.html"
                data-sub="come-funziona.html">
                Come funziona
            </a>

            <a class="nav-link" data-page="galleria" data-root="./html/galleria.html" data-sub="galleria.html">
                Galleria
            </a>

            <a class="nav-link" data-page="contatti" data-root="./html/contatti.html" data-sub="contatti.html">
                Contatti
            </a>
        </nav>

        <button class="btn btn-primary nav-cta">
            Ordina
        </button>
    </div>
</header>